/********************
    VARIABLES
********************/

/******* colors ********/
$color-brand-red: #ec1c24;

$color-secondary-yellow: #FFFF00;

$color-black: #000;
$color-grey: #c6c6c6;
$color-white: #fff;

/******* fonts ********/

$body-font: 'Open Sans', sans-serif;
$heading-font: 'Kanit', sans-serif;


/********************
    FUNCTIONS
********************/

/********************
    MIXINS
********************/

