@import "../main.styles.scss";

.footer {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__logo,
    &__socialnav {

    }
    &__logo {
        //background-color: lightseagreen;
    }
    &__socialnav {
        background-color: forestgreen;
    }
}
