@import "../main.styles.scss";

.footer {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        //background-color: lightseagreen;
    }
    &__socialnav {
        background-color: forestgreen;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {
            margin: 1rem 0;
        }
    }
}
