@import "../main.styles.scss";

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text,
    &__shiddonaut {
        position: absolute;
        transition: all 1s;
        align-self: center;
    }

    &__text {
        max-height: 9.5rem;
    }

    &__shiddonaut {
        max-height: 6rem;
        //padding-top: 12%;
        //padding-left: 14%;
        //top: 0%;
        //left: 14%;

        //background-color: pink;
    }

    //do spinny animation on hover
        //but do not do it infinitely, let it spin
        //about 2 times then stop
    &:hover > &__shiddonaut{

        //transform-origin: 86% 82%;
        transform: rotate(360deg);
    }
    &:hover > &__text {
        transform: rotate(-360deg);
    }

    &__header {
        background-color: yellow;
        height: 9.5rem;
        width: 9.5rem;
    }

}